:root {
    --color-principal: rgb(73, 73, 73);
    --color-secundario: #BBC863;
    --color-borde: #494949;
    --color-texto-cabecera: rgb(40, 39, 39);
}

.navegacion{
    padding: 1rem;
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    margin: auto;
    color: var(--color-principal);
}

.navegacion a{
    text-decoration: none;
    color: var(--color-principal);
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--color-borde);
    transition: 2s;
}

.navegacion a:hover{
    background-color: var(--color-secundario);
}

.cabecero{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-texto-cabecera);
    font-size: 3rem;
}

.cabecero2{
    text-align: center;
    color: var(--color-texto-cabecera);
    font-size: 1.5rem;
}

.icon{
    height: 150px;
    position: absolute;
    top: 4px;
    left: 70px;
}

.icon2{
    height: 150px;
    position: absolute;
    top: 6px;
    right: 70px;
}

.fondo{
    min-height: 70%;
    width: 100%;
}

.galeria_contenedor{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 15px;
    height: auto;
    margin: 20px auto;
    padding: 0 10px;
    max-width: 1200px;
    justify-items: center;
}

.galeria_contenedor > div {
    width: 100%; 
    max-width: 350px;
}

.galeria_contenedor img{
    margin: 0; 
    height: 250px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border: 10px solid var(--color-borde);
    box-shadow: 5px 5px 10px var(--color-borde);
}

.galeria_contenedor p {
    font-size: 0.9em;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}



@media screen and (min-width: 601px) and (max-width: 999px) {
    .galeria_contenedor {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 700px;
    }
}



@media screen and (max-width: 600px) {

    .navegacion {
        flex-direction: column; 
        align-items: center;
        gap: 5px;
    }

    .navegacion a {
        display: block; 
        width: 90%;
        text-align: center;
    }

    .icon, .icon2 {
        display: none;
    }

    .galeria_contenedor {
        grid-template-columns: 1fr; 
        margin: 10px;
    }

    article {
        margin: 10px 0 !important;
    }

    .galeria_contenedor img {
        height: auto; 
    }
}
