.galeria_contenedor img {
margin: 0 10px;
height: 250px;
object-fit: cover;
border:10px solid #494949;
box-shadow: 5px 5px 10px #494949;

    max-width: 100%;
    height: auto; 
}

.galeria_contenedor article {
    max-width: 100%;
}

@media screen and (max-width: 600px) {

   
    .navegacion {
        flex-direction: column;
        align-items: center;
    }

    .navegacion li {
        margin-bottom: 5px; 
    }

    .navegacion a {
        display: block; 
        width: 80%;
        text-align: center;
    }

    
    .icon, .icon2 {
        display: none;
    }

    
    .galeria_contenedor {
        display: flex;
        flex-direction: column;
        height: auto; 
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    
  
    .galeria_contenedor > div {
        width: 90%;
    }

    .galeria_contenedor img {
        width: 100%; 
        margin: 0;
    }

}



@media screen and (min-width: 601px) and (max-width: 900px) {
    
  
    .galeria_contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto; 
        margin: 20px auto;
        max-width: 850px;
    }

    .galeria_contenedor > div {
        margin: 0;
    }

    
    .navegacion {
        justify-content: space-around;
        flex-wrap: wrap; 
    }

    
    .galeria_contenedor img {
        width: 90%; 
        height: auto;
    }
}



@media screen and (min-width: 901px) {
    
    
    .galeria_contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; 
        height: auto;
        margin: 30px auto;
        max-width: 1200px;
    }

    .galeria_contenedor > div {
        margin: 0;
    }

    
    .galeria_contenedor img {
        width: 100%;
        height: 200px; 
    }
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}


