.navegacion{
    padding: 10px;
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    margin: auto;
    color: rgb(73, 73, 73);
}
.navegacion a{
    text-decoration: none;
    color:rgb(73, 73, 73);
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #494949;
    transition: 2s;

}

.navegacion a:hover{
    background-color: #BBC863;
}

.cabecero{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(40, 39, 39);
}
.cabecero2{
    text-align: center;
    color: rgb(40, 39, 39);
}

.icon{
    height: 150px;
    position: absolute;
    top: 4px;
    left: 70px;

}
